<% provide(:title, "Profile") %>
<h1>Welcome <%= @user.name %>!</h1>
<h2>Events planned:</h2>
<% if @user.events %>
	<% @user.events.each do |event| %>
	<ul>
		<li><%= link_to event.name, event_path(event) %></li>
	</ul>
	<% end %>
<% end %>

<h2>Attending Events</h2>
<% if @current_events %>
	<% @current_events.each do |event| %>
	<ul>
		<li><%= link_to event.name, event_path(event) %></li>
	</ul>
	<% end %>
<% end %>

<h3>Past Events</h3>